MONGO_URI=mongodb://127.0.0.1:27017/airport-search
GOOGLE_GENERATIVE_AI_API_KEY=Your_Google_Generative_AI_API_Key_Here
PORT=3001
#  You can either choose to use gemini or azure for the AI functionalities. Make sure to fill in the appropriate values based on your choice.
AZURE_RESOURCE_NAME=your-azure-resource-name
AZURE_API_KEY=your-azure-api-key-here
